In [4]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [31]:
file = 'states.csv'

In [32]:
data = pd.read_csv(file)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4218 entries, 0 to 4217
Data columns (total 8 columns):
state                 4218 non-null object
indicator_id          4218 non-null object
indicator             4181 non-null object
indicator_category    4181 non-null object
urban                 4084 non-null object
rural                 4103 non-null object
total                 4218 non-null object
total_2005-06         3305 non-null object
dtypes: object(8)
memory usage: 263.7+ KB

In [34]:
data = data.dropna(axis=0, how='any', subset=['urban', 'indicator_category', 'indicator_id', 'rural', 'total'])

In [35]:
data.head()

,state,indicator_id,indicator,indicator_category,urban,rural,total,total_2005-06
0,Andaman and Nicobar Islands,1,Population (female) age 6 years and above who ...,Population and Household Profile,87.6,82.6,84.7,NaN
1,Andaman and Nicobar Islands,2,Population below age 15 years (%),Population and Household Profile,23.4,24.3,23.9,NaN
2,Andaman and Nicobar Islands,3,Sex ratio of the total population (females per...,Population and Household Profile,966,984,977,NaN
3,Andaman and Nicobar Islands,4,Sex ratio at birth for children born in the la...,Population and Household Profile,708,978,859,NaN
4,Andaman and Nicobar Islands,5,Children under age 5 years whose birth was reg...,Population and Household Profile,97.2,98.4,97.9,NaN

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4048 entries, 0 to 4217
Data columns (total 8 columns):
state                 4048 non-null object
indicator_id          4048 non-null object
indicator             4048 non-null object
indicator_category    4048 non-null object
urban                 4048 non-null object
rural                 4048 non-null object
total                 4048 non-null object
total_2005-06         3273 non-null object
dtypes: object(8)
memory usage: 284.6+ KB

In [37]:
mdata = data[data['indicator_id'] == '112']

In [38]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4048 entries, 0 to 4217
Data columns (total 8 columns):
state                 4048 non-null object
indicator_id          4048 non-null object
indicator             4048 non-null object
indicator_category    4048 non-null object
urban                 4048 non-null object
rural                 4048 non-null object
total                 4048 non-null object
total_2005-06         3273 non-null object
dtypes: object(8)
memory usage: 284.6+ KB
None

In [39]:
print(mdata.info())
data = data[data['indicator_id'] == '112']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 110 to 4215
Data columns (total 8 columns):
state                 36 non-null object
indicator_id          36 non-null object
indicator             36 non-null object
indicator_category    36 non-null object
urban                 36 non-null object
rural                 36 non-null object
total                 36 non-null object
total_2005-06         29 non-null object
dtypes: object(8)
memory usage: 2.5+ KB
None

In [40]:
data['urban'] = pd.to_numeric(data['urban'], errors='coerce')
data['rural'] = pd.to_numeric(data['rural'], errors='coerce')
data['total'] = pd.to_numeric(data['total'], errors='coerce')

data['indicator_id'] = pd.to_numeric(data['indicator_id'], errors='coerce')

In [41]:
data.head()

,state,indicator_id,indicator,indicator_category,urban,rural,total,total_2005-06
110,Andaman and Nicobar Islands,112,Men who consume alcohol (%),Tobacco Use and Alcohol Consumption among Adul...,58.8,46.8,51.7,NaN
225,Andhra Pradesh,112,Men who consume alcohol (%),Tobacco Use and Alcohol Consumption among Adul...,29.6,37.7,34.9,NaN
338,Arunachal Pradesh,112,Men who consume alcohol (%),Tobacco Use and Alcohol Consumption among Adul...,55.2,60.5,59.0,61.1
452,Assam,112,Men who consume alcohol (%),Tobacco Use and Alcohol Consumption among Adul...,29.7,36.8,35.6,37.8
566,Bihar,112,Men who consume alcohol (%),Tobacco Use and Alcohol Consumption among Adul...,26.2,29.5,28.9,34.9

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 110 to 4215
Data columns (total 8 columns):
state                 36 non-null object
indicator_id          36 non-null int64
indicator             36 non-null object
indicator_category    36 non-null object
urban                 36 non-null float64
rural                 35 non-null float64
total                 36 non-null float64
total_2005-06         29 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ KB

In [43]:
data = data.drop('indicator_id', axis=1)

In [44]:
data = data.drop('indicator_category', axis=1)

In [45]:
data.head()

,state,indicator,urban,rural,total,total_2005-06
110,Andaman and Nicobar Islands,Men who consume alcohol (%),58.8,46.8,51.7,NaN
225,Andhra Pradesh,Men who consume alcohol (%),29.6,37.7,34.9,NaN
338,Arunachal Pradesh,Men who consume alcohol (%),55.2,60.5,59.0,61.1
452,Assam,Men who consume alcohol (%),29.7,36.8,35.6,37.8
566,Bihar,Men who consume alcohol (%),26.2,29.5,28.9,34.9

In [46]:
data = data.drop('total_2005-06', axis=1)

In [47]:
data.head()

,state,indicator,urban,rural,total
110,Andaman and Nicobar Islands,Men who consume alcohol (%),58.8,46.8,51.7
225,Andhra Pradesh,Men who consume alcohol (%),29.6,37.7,34.9
338,Arunachal Pradesh,Men who consume alcohol (%),55.2,60.5,59.0
452,Assam,Men who consume alcohol (%),29.7,36.8,35.6
566,Bihar,Men who consume alcohol (%),26.2,29.5,28.9

In [48]:
data = data.drop('indicator', axis=1)

In [49]:
data.head()

                           state  urban  rural  total
110  Andaman and Nicobar Islands   58.8   46.8   51.7
225               Andhra Pradesh   29.6   37.7   34.9
338            Arunachal Pradesh   55.2   60.5   59.0
452                        Assam   29.7   36.8   35.6
566                        Bihar   26.2   29.5   28.9

In [50]:
from collections import OrderedDict
result_color = OrderedDict([("urban","red"),("rural", "green"),("total","black"),])
data.to_csv('formatted.csv', index=False)

In [52]:
from math import log, sqrt
from bokeh.plotting import figure, show, output_file


import numpy as np

width = 400
height = 400
inner_radius = 90
outer_radius = 300 - 10

minr = sqrt(log(.001 * 1E4))
maxr = sqrt(log(1000 * 1E4))
a = (outer_radius - inner_radius) / (minr - maxr)
b = inner_radius - a * maxr

def rad(mic):
    return a * np.sqrt(np.log(mic * 1E4)) + b

big_angle = 2.0 * np.pi / (len(data) + 1)
small_angle = big_angle / 7

p = figure(plot_width=width, plot_height=height, title="",
    x_axis_type=None, y_axis_type=None,
    x_range=(-420, 420), y_range=(-420, 420),
    min_border=0, toolbar_sticky=False)

p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None

angles = np.pi/2 - big_angle/2 - data.index.to_series()*big_angle

# small wedges
p.annular_wedge(0, 0, inner_radius, rad(data.urban),
                -big_angle+angles+5*small_angle, -big_angle+angles+6*small_angle,
                color=result_color['urban'])
p.annular_wedge(0, 0, inner_radius, rad(data.rural),
                -big_angle+angles+3*small_angle, -big_angle+angles+4*small_angle,
                color=result_color['rural'])
p.annular_wedge(0, 0, inner_radius, rad(data.total),
                -big_angle+angles+1*small_angle, -big_angle+angles+2*small_angle,
                color=result_color['total'])

# circular axes and lables
labels = np.power(10.0, np.arange(-3, 4))
radii = a * np.sqrt(np.log(labels * 1E4)) + b
p.circle(0, 0, radius=radii, fill_color=None, line_color="white")
p.text(0, radii[:-1], [str(r) for r in labels[:-1]],
       text_font_size="8pt", text_align="center", text_baseline="middle")



# bacteria labels
xr = radii[0]*np.cos(np.array(-big_angle/2 + angles))
yr = radii[0]*np.sin(np.array(-big_angle/2 + angles))
label_angle=np.array(-big_angle/2+angles)
label_angle[label_angle < -np.pi/2] += np.pi # easier to read labels on the left side
p.text(xr, yr, data.state, angle=label_angle,
       text_font_size="9pt", text_align="center", text_baseline="middle")


output_file("output.html", title="Alc Consumption")

show(p)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:18: RuntimeWarning: divide by zero encountered in log
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:18: RuntimeWarning: invalid value encountered in sqrt